body{
    background-color:black;
}
nav{
    text-align: center;
    background-color: #AA6C39;
    font-size: 20px;
}
a{
    font-style:bolder;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-style:bolder;
    color:#AA6C39;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
}
p{
    font-style:bolder;
    color:#AA6C39;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
}
li{
    font-style:bolder;
    color:#AA6C39;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
}