body{
    background-color:black;
}
header{
    text-align: center;
    font-size: 20px;
}
a{
    font-style:bolder;
    color:#AA3939;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-style:bolder;
    color:#AA3939;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
}
p{
    font-style:bolder;
    color:#AA3939;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
}